/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map, #mapControl {
  height: 95%;
  width: 95%;
  margin: 2%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 95%;
  
}
body.nav {
  background: red;
  color: #4b2e83;
  padding: 15%;
}