/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map, #mapWA {
  height: 95%;
  width: 95%;
  border: 5%;
  min-width: 100%;
  min-height: 500px;
}
#title {
  text-align: center;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 95%;
  background-color: aliceblue;
}
body.nav {
  background: red;
  color: #4b2e83;
  padding: 15%;
}
footer {
  min-height: 30px;
  width: 100%;
  height: 3%;
  background-color: black;
  color: white;
}
html {
  background-color: aliceblue;
}
nav a, nav button, .dropdown-toggle {
  position: relative;
  display: inline-block;
  padding: 2%;
}
h2 {
  background-color: \;
}
h2:hover, .btn:hover {
  font-weight: bolder;
  text-decoration: none;
  background-color: steelblue;
  color: aliceblue;
}
#content {
  position: relative;
  margin: 5%;
}
a:link {
  text-decoration: none;
}
.dropdown-toggle::after {
  content: none;
}
img {
  height: 30%;
  width: 30%;
  min-width: 152px;
  max-width: 300px;
}
